<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
 <meta charset="euc-kr">
 <title>구글맵 API 활용하기</title>
 <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
 <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCMq3ynwd0frB5IdCmgeLZ_baBumJBq65o&callback=initMap"></script>
 <script>
 
    function getLocation() {
        if (navigator.geolocation) { // GPS를 지원하면
            navigator.geolocation.getCurrentPosition(function(position) {
                alert(position.coords.latitude + ' ' + position.coords.longitude);
                return {
                    latitude:position.coords.latitude,
                    longitude:position.coords.longitude
                };
            }, function(error) {
                console.error(error);
            }, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: Infinity
            });
        } else {
            alert('GPS를 지원하지 않습니다');
        }
    }
 
    function initialize() {
        /*
        http://openapi.map.naver.com/api/geocode.php?key=f32441ebcd3cc9de474f8081df1e54e3&encoding=euc-kr&coord=LatLng&query=서울특별시 노원구 섬밭로 258
        위의 링크에서 뒤에 주소를 적으면 x,y 값을 구할수 있습니다.
        */

        var ginfo = getLocation();

        alert(ginfo)
        var Y_point = ginfo.latitude;   //37.4949948; // Y 좌표
        var X_point = ginfo.longitude;  //127.1224259; // X 좌표
        console.log(X_point,Y_point)
        var zoomLevel = 17.81; // 첫 로딩시 보일 지도의 확대 레벨
        var markerTitle = "핀테크기술지원센터"; // 현재 위치 마커에 마우스를 올렸을때 나타나는 이름
        var markerMaxWidth = 600; // 마커를 클릭했을때 나타나는 말풍선의 최대 크기

        //37.4949948,127.1224259,17.81z


        // 말풍선 내용
        var contentString = '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h3 id="firstHeading" class="firstHeading"></h3>' +
        '<div id="bodyContent">' +
        '<p>서울 송파구 중대로 135,IT벤처타워 서관<br />' +
        'Tel. Tel 02) 3391-7888</p>' +
        '</div>' +
        '</div>';

        var myLatlng = new google.maps.LatLng(Y_point, X_point);
        var mapOptions = {
            zoom: zoomLevel,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map_view'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: markerTitle
            });

        var infowindow = new google.maps.InfoWindow( {
            content: contentString,
            maxWidth: markerMaxWidth
            });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
            });
    }
 </script>
</head>

<body onload="initialize()">
 <div id="map_view" style="width:800px; height:600px;"></div>
</body>
</html>